aws_region           = "ap-northeast-2"
network_state_bucket = "palja-terraform-backend"
network_state_key    = "aws/network/terraform.tfstate"
network_state_region = "ap-northeast-2"

name_prefix = "ktcloud2nd"

db_name     = "vehicle_db"
db_username = "dbadmin"
db_password = "temp"

instance_class          = "db.t3.micro"
allocated_storage       = 20
storage_type            = "gp3"
backup_retention_period = 1

tags = {
  Environment = "dev"
  Owner       = "infra3"
}
