[defaults]
# 1. 인벤토리 파일 경로 (ansible.cfg와 같은 폴더의 inventory/ 하위)
inventory = ./inventory/hosts.ini

# 2. SSH 접속 계정 (Amazon Linux 2023 등 AWS 기본 계정)
remote_user = ec2-user

# 3. SSH 키 파일 경로 (로컬 PC의 절대 경로를 권장합니다)
private_key_file = ~/.ssh/8team-key.pem

# 4. 처음 접속 시 보안 확인(Fingerprint) 절차 무시
host_key_checking = False

# 5. Roles 폴더 위치 (ansible.cfg와 같은 폴더의 roles/ 하위)
roles_path = ./roles

# 6. 불필요한 .retry 파일 생성 방지
retry_files_enabled = False

[ssh_connection]
# 7. SSM(Session Manager)을 통한 SSH ProxyCommand 설정 (필수)
# 22번 포트 없이 Private Subnet에 접속하게 해줍니다.
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ProxyCommand="aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"

# 8. 파이프라이닝 활성화 (속도 향상)
pipelining = True

# 9. vault 비밀번호 경로 지정
vault_password_file = ./vault/vault_password